
body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

  
  .nav-bar {
    background-color: black;
    color: cornsilk;
    height: 70px;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-list li {
  margin-top: 10px;
  list-style:none;
  font-size: 15pt;
  border:3px solid #ccc;
  border-radius: 20px;
  box-shadow: #ccc;
  padding: 3px;
  }
  .nav-list button{
    background-color: black;
    font-size: 15pt;
  }
  .nav-list a{
    text-decoration: none;
    color:blanchedalmond
  }
  .nav-list a:hover{
    text-decoration: none;
    color:blanchedalmond
  }
  